source https://www.nuget.org/api/v2/

nuget NUnit @= 2.6.3
nuget Prism.Unity @= 6.1.1 framework: portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10
nuget Xamarin.TestCloud.Agent @= 0.13.0 framework: >= xamarinios
nuget Xamarin.UITest @= 0.7.1 framework: >= net45
